header{
    --bs-tertiary-bg-rgb: 251, 251, 253;
}
.nav-link{
    color: black;
    font-size: 1rem;
    padding: 0.5rem;
    
}
main{
    background-color: #ffffff;
    text-align: center;
}
footer{
    background-color: rgb(251, 251, 253);
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: center;
    position: relative;
    text-align: center;
}
.copyright {
    color: rgb(140, 140, 141);
    margin: 0.5rem;
    font-size: 0.8rem;
}
#home{
    background-color: rgba(0, 0, 0, 0.914);
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.880), rgba(0, 0, 0, 0.980));
    color: white;
    padding: 9rem;
    text-align: center;
}
#about_me{
    background-color: rgba(0, 0, 0, 0.980);
    background: linear-gradient(to bottom, rgba(240, 108, 59), rgba(240, 108, 59, 0.90));
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 9rem;
    text-align: center;
}
.about_me_paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
#projects{
    padding: 2rem;
    text-align: center;
}
#contact{
    padding: 2rem;
    text-align: center;
}
#nav_home{
    color: rgb(240, 108, 59);
}
.round_image{
    display: inline-block;
    margin: 1rem;
}
.round_image img{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}
#home span{
    color: rgb(240, 108, 59);
}
#home p{
    color: #cccccc;
}
.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: rgb(240, 108, 59);
    --bs-btn-border-color: rgb(240, 108, 59);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg:rgb(88, 39, 22);
    --bs-btn-hover-border-color: rgb(88, 39, 22);
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: rgb(7, 145, 151);
    --bs-btn-active-border-color: rgb(7, 145, 151);
}